<div class="page-header">
	<h1>
		我的利润表
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			费用情况
		</small>
	</h1>
</div>


<div class="row">
	<div class="col-xs-12">
		<blockquote>
			<p>
				<%=@item.name%>
			</p>
			<p>
			送货日期：<%=@income.time%> ， 送货人员：<%=_delvery_user(@income.users)%>
			</p>
			
		</blockquote>
<%=_income_step(@income.id,@steps,4)%>
<h4>销售费用杂项</h4>
<hr />
<div class="col-xs-12">
<div class="row">
<div class="col-xs-12 col-sm-4 widget-container-col ui-sortable">
<%= render 'fee_normal' %>
</div>
<div class="col-xs-12 col-sm-4 widget-container-col ui-sortable">
<%= render 'fee_spe' %>
</div>
<div class="col-xs-12 col-sm-4 widget-container-col ui-sortable">
<%= render 'fee_sell' %>
</div>

</div>
</div>


	</div>
</div>