<table id="sample-table-1" class="table table-striped table-bordered table-hover">
<thead><tr><th class="hidden-480">送货日期</th><th>项目名称</th><th>销售金额</th><th>销售重量</th></tr></thead>
<tbody>
<tr class="profittotal">
	<td class="hidden-480">总计：</td>
	<td>&nbsp;</td>
	<td><span class="total_price">...</span>元</td>
	<td><span class="total_weight">...</span>吨</td>
</tr>
<% price = weight = 0.0%>
<% @profit.each do |f|%>
<%
price += f.price.to_f
weight += f.weight.to_f
%>
<tr>
<td class="hidden-480"><%=f.time%></td>
<td>
<%=_tip_item f.item,search_project_search_index_url(:item_id=>f.item.id)%>
</td>
<td><%=yuan f.price%>元</td>
<td><%=f.weight%>吨</td>
</tr>
<% end %>
</tbody>
</table>

<script type="text/javascript">
$('.total_price').text('<%=yuan price%>');
$('.total_weight').text('<%=yuan weight%>');
</script>