<table class="table table-striped table-condensed">
  <thead>
      <tr>

        <th>序号</th>
        <th>姓名</th>
        <th>岗位</th>
        <th>入职时间</th>
        <th>试用日工资</th>
        <th>日工资</th>
        <th>岗位工资</th>
        <th>绩效工资</th>
        <th>全勤奖</th>
        <th>岗位补贴</th>
        <th>特殊津贴</th>
        <th>其它福利</th>
        <th>事假</th>
        <th>迟到早退</th>
        <th>公司社保</th>
        <th>社保</th>
        <th>其它</th>
        <th>本月应发</th>
        <th>个税</th>
        <th>公户转出工资</th>
        <th>报销现金工资</th>
        <th>备注</th>
      </tr>
  </thead>
  <tbody>
<% @lines.each do |line|%>
  <tr>
  <% line.each do |f| %>
      <td><%=f.strip if f.is_a? String %></td>
  <% end %>
  </tr>
<% end %>
  </tbody>
  </table>

<hr />
<%=form_for :paylips,:url=>submit_payslips_url do |f|%>
<input type="hidden" value="<%=@title%>" name="title" />
<input type="hidden" value="<%=@time%>" name="time" />
<input type="hidden" value="<%=@utfpath%>" name="utfpath" />
<input type="submit" value="确认无误，提交工资表" class="btn btn-success btn-larger" />
<% end %>