<div class="col-sm-10 col-sm-offset-1">
<!-- #section:pages/invoice -->
<div class="widget-box transparent">
<div class="widget-header widget-header-large">
	<h3 class="widget-title grey lighter">
		<i class="ace-icon fa fa-file-text-o green"></i>
		<%=@notice.title%>
	</h3>

	<!-- #section:pages/invoice.info -->
	<div class="widget-toolbar no-border invoice-info">
		<span class="invoice-info-label">发布时间:</span>
		<span class="blue"><%=@notice.created_at.to_s(:detail)%></span>
		<br />
		<span class="invoice-info-label">发布人员:</span>
		<span class="blue"><%=@notice.username%></span>
	</div>

	<div class="widget-toolbar hidden-480">
		<a href="#">
			<i class="ace-icon fa fa-tencent-weibo"></i>
		</a>
	</div>
	<!-- /section:pages/invoice.info -->
</div>
<div class="widget-body">
<div class="widget-main padding-24">
<%=raw @notice.info%>
</div>
</div>
</div>
<hr />
<div class="tab-pane active" id="member-tab">
<!-- #section:pages/dashboard.members -->
<div class="clearfix">
<% @notice.views.each do |f|%>
	<div class="itemdiv memberdiv">
		<div class="user">
			<img src="<%=f.user.photos.url(:m)%>" alt="<%=f.user.username%>">
		</div>
		<div class="body">
			<div class="name">
				<a href="javascript:;"><%=f.user.username%></a>
			</div>
			<div class="time">
				<i class="ace-icon fa fa-clock-o"></i>
				<span class="green"><%=_time_plus(f.created_at)%></span>
			</div>
		</div>
	</div>
<% end %>
	

<div class="space-4"></div>

<!-- /section:pages/dashboard.members -->
</div>
</div>
</div>
