<table id="sample-table-1" class="table table-striped table-hover">
<thead><tr><th class="hidden-480">收款日期</th><th>收款类型</th><th>收款金额</th><th>备注信息</th><th>操作</th></tr></thead>
<tbody>
<% @payments.each do |f|%>
<tr>
<td class="hidden-480"><%=f.pay_time%></td>
<td><%= f.ptype == 1 ? '货款' : '营业外收入'%></td>
<td><%=f.money%>元</td>
<td><%=f.info%></td>
<td><%=_payments_operate f%></td>
</tr>
<% end %>
</tbody>
</table>