<table id="sample-table-1" class="table table-striped table-bordered table-hover">
<thead><tr><th class="hidden-480">送货日期</th><th>项目名称</th><th>销售金额</th><th>销售重量</th><th class="hidden-480">进货重量</th><th>毛利润(预估)</th><th>利润率(预估)</th><th></th></tr></thead>
<tbody>
<% @profit.each do |f|%>
<tr>
<td class="hidden-480"><%=f.time%></td>
<td>
<%=_tip_item f.item%>
</td>
<td><%=f.price%>元</td>
<td><%=f.weight%>吨</td>
<td class="hidden-480"><%=f.iweight%>吨</td>
<td><%=f.profits%></td>
<td><%=(f.profits.to_f / f.iweight.to_f).to_i%>元/吨</td>
<td><a href="<%=project_income_url(f.income_statement_id,:from=>request.url)%>"><i class="fa fa-file-text-o"></i></a></td>
</tr>
<% end %>
</tbody>
</table>