<div class="page-header">
	<h1>
		<a href="<%=search_project_finance_index_url(:item_id=>@item.id)%>"><%=@item.name%></a>
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			<a href="<%=project_finance_index_url%>">返回上一步</a>
		</small>
	</h1>
</div>
<div class="row">
<div class="col-sm-9 col-xs-12">
<blockquote>
<p>
1，共计利润表<%=@profit.count%>张<br />
2，毛利润（预估）计算方式为：销售金额-进货成本-其它成本<br />
3，毛利润率（预估）计算方式为：毛利润（预估）/进货重量 <br />
4，共计收款 <%=@checked_payments.count%> 笔，其中货款 <%=@checked_payments.inject(0.0){|m,v| v.ptype == 1 ? (m + _round(v.money)) : m}%>，营业外收入 <%=@checked_payments.inject(0.0){|m,v| v.ptype == 2 ? (m + _round(v.money)) : m}%> 共计：<%= @checked_payments.inject(0.0){|m,v| m + _round(v.money)}%>元
</p></blockquote>
</div>
<div class="col-sm-3 col-xs-12">
<%=render 'item_bar'%>
</div>
</div>
<% if @item.ended != 1 %>
<a href="<%=new_project_finance_url(:item_id=>@item.id)%>" class="btn btn-primary ajax_iframe">收款录入</a>  <a href="<%=ended_project_finance_index_url(:item_id=>@item.id)%>" class="btn btn-danger" data-remote="true" data-method="put" data-confirm="项目结款后，这个项目的所有子项都不允许录入，请谨慎结款。" rel="nofollow">项目结款</a>

<hr />
<% else %>
<div class="alert alert-block alert-success">
	<button data-dismiss="alert" class="close" type="button">
		<i class="ace-icon fa fa-times"></i>
	</button>
	<p>
		<strong>
			<i class="ace-icon fa fa-check"></i>
			已结款！
		</strong>
		工程已结款，已结款项目所有子项都被锁定。
	</p>
</div>
<hr />
<% end %>
<div class="tabbable">
<ul id="myTab4" class="nav nav-tabs padding-12 tab-color-blue background-blue">
	<li class="active">
		<a href="#home4" data-toggle="tab">利润表</a>
	</li>

	<li>
		<a href="#profile4" data-toggle="tab">工程收款</a>
	</li>
</ul>
<div class="tab-content">
<div class="tab-pane in active" id="home4">
<%=render 'profit'%>
</div>
<div class="tab-pane" id="profile4">
<%=render 'payment'%>
</div>
</div>
</div>