<h4>合计</h4>
<div class="widget-box">
	<div class="widget-body">
		<div class="widget-main">
			<div class="row">
				<div class="col-xs-12">
					<h4>1，成本共计 <%=yuan _round @cb[:cb]%>元</h4>
					<blockquote>
						<p class="lighter line-height-125">
<ol>
<li>调货成本合计: <%=yuan _round @cb[:dcb]%>元</li>
<li>运费合计: <%= yuan _round @cb[:ycb]%>元</li>
<li>其它费用合计: <%=yuan _round @cb[:qcb]%>元</li>
</ol>
						</p>
					</blockquote>
					<h4>2，销售共计: <%=yuan @cb[:sell]%>元</h4>
					<h4>3，重量共计:</h4>
					<blockquote>
						<p class="lighter line-height-125">
<ol>
<li>进货重量: <%=_round @cb[:yweight]%>吨</li>
<li>销售重量: <%=_round @cb[:weight]%>吨</li>
</ol>
						</p>
					</blockquote>
				</div>
			</div>
			<h4>利润：<%= yuan _round @cb[:lr]%>元</h4>
		</div>
	</div>
</div>