<div class="col-xs-12 col-sm-3 center">
										<div>
											<!-- #section:pages/profile.picture -->
											<span class="profile-picture">
												<img src="<%=@user.photos.url(:b)%>" alt="" class="img-responsive" id="avatar"></img>
											</span>

											<!-- /section:pages/profile.picture -->
											<div class="space-4"></div>

											<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
												<div class="inline position-relative">
													<a class="user-title-label" href="#">
													<span class="white"><%=@user.username%></span>
													</a>
												</div>
											</div>
										</div>

										<div class="space-6"></div>

										<!-- #section:pages/profile.contact -->
										
<div class="profile-contact-info">
<div class="profile-contact-links align-center">
<% if !@user.shortleave? %>
	<a class="btn btn-link" data-method='put' href="<%=changestatus_staffs_basis_url(@user.id,:status=>'shortleave')%>">
		<i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
		停薪留职
	</a>
<% else %>
	<a class="btn btn-link" data-method='put' href="<%=changestatus_staffs_basis_url(@user.id,:status=>'injob')%>">
		<i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
		重新入职
	</a>
<% end %>

	<a class="btn btn-link" data-method='put' href="<%=changestatus_staffs_basis_url(@user.id,:status=>'outjob')%>">
		<i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
		强制离职
	</a>
</div>

											<div class="space-6"></div>
										</div>

										<!-- /section:custom/extra.grid -->
										<div class="hr hr16 dotted"></div>
									</div>