<tr>
<td><%=user.username%></td>
<td class="hidden-480"><%=user.department.post%></td>
<td class="hidden-480"><%=user.department.department%></td>
<td><%=user.info.entry_at%></td>
<td><%=user.info.departure_at%></td>
<td></td>
</tr>