<tr>
	<td><img src="<%=t.photos.url(:s)%>" class="profile" /><%=t.username%></td>
	<td class="hidden-480"><%=t.department.post%></td>
	<td class="hidden-480"><%=t.department.department%></td>
	<td class="hidden-480"><%=t.department.level%></td>
	<td class="hidden-480"><%=_date_from t.info.entry_at%></td>
	<td class="hidden-480"><%=t.info.entry_at%></td>
	<td><%= _true_or_false t.info.labor %></td>
	<td class="hidden-480"><%= (t.info.lab_end) %></td>
	<td><%= _true_or_false t.info.security %></td>
	<td>

		<a title="" data-rel="tooltip" class="tooltip-success tooltip-info" href="<%=staffs_basis_url(t)%>" data-placement="left" data-original-title="修改资料">
				<i class="ace-icon fa fa-edit bigger-120"></i>
		</a>

	</td>
</tr>