<div class="widget-header widget-header-small">
<h4 class="widget-title blue smaller">
	<i class="ace-icon fa fa-rss orange"></i>
	家庭成员
</h4>
<div class="widget-toolbar action-buttons">
	<a href="#" class="ajax_iframe">
		<i class="ace-icon fa fa-pencil-square-o blue"></i>
	</a>
</div>
</div>
<table class="table table-striped table-hover">
<thead>
	<tr>
		<th>关系</th>
		<th>姓名</th>
		<th>工作单位</th>
		<th>电话号码</th>
		<th>联系地址</th>
		<th>版本</th>
		<th>操作</th>
	</tr>
</thead>
<tbody>
<% @families.each do |fa|%>
<tr>
<td><%=fa.relationship%></td>
<td><%=fa.name%></td>
<td><%=fa.workunits%></td>
<td><%=fa.phone%></td>
<td><%=fa.address%></td>
<td><%=_version fa.ischecked%></td>
<td><%=%></td>
</tr>
<% end %>
</tbody>
</table>