<div class="widget-header widget-header-small">
<h4 class="widget-title blue smaller">
	<i class="ace-icon fa fa-rss orange"></i>
	员工详细信息
</h4>
<div class="widget-toolbar">
	<a data-action="collapse" href="#">
		<i class="ace-icon fa fa-chevron-up"></i>
	</a>
	<a href="<%=staffs_ajax_info_url(:id=>@user.id)%>" class="ajax_iframe">
		<i class="ace-icon fa fa-pencil-square-o blue"></i>
	</a>
</div>
</div>
<% @infos.each do |info| %>
	<div class="widget-body">
		<div class="widget-main no-padding">
			
			<!-- #section:pages/profile.feed -->
			<div class="profile-user-info profile-user-info-striped">
<% if info.ischecked %>
<% else %>
<div class="profile-info-row">
<div class="profile-info-name"></div>
<div class="profile-info-value">
<span class="text-warning bigger-110 orange">
	<i class="ace-icon fa fa-exclamation-triangle"></i>
	以下为未审核信息，<%=_staff_operate info%>
</span>
</div>
</div>
<% end %>
				<div class="profile-info-row">
					<div class="profile-info-name"> 婚否 </div>

					<div class="profile-info-value">
						<span id="username"><%=_true_or_false info.marriage%></span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> 生日 </div>

					<div class="profile-info-value">
						<%=_birth_info info%>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> 手机 </div>

					<div class="profile-info-value">
						<%=info.phone%>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> 电话 </div>

					<div class="profile-info-value">
						<%=info.tel%>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> 住址 </div>

					<div class="profile-info-value">
						<%=info.address%>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name"> 入职时间 </div>

					<div class="profile-info-value">
						<%=info.entry_at%>
					</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name"> 转正时间 </div>

					<div class="profile-info-value">
						<%=info.positive_at%>
					</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name"> 离职时间 </div>

					<div class="profile-info-value">
						<%=info.departure_at%>
					</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name"> 劳动合同 </div>

					<div class="profile-info-value">
						<%=_true_or_false info.labor%>
					</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name"> 社保 </div>

					<div class="profile-info-value">
						<%=_true_or_false info.security%>
					</div>
				</div>
			</div>

			<!-- /section:pages/profile.feed -->
		</div>
	</div>
<% end %>
