<div class="col-xs-12 col-sm-9">

	<%=render 'profile.base'%>

	<div class="space-6"></div>
	<div class="widget-box transparent">
	<%=render 'profile.info'%>
	</div>
	
	<div class="space-6"></div>
	<div class="widget-box transparent">
	<%=render 'profile.department'%>
	</div>

	<div class="space-6"></div>
	<div class="widget-box transparent">
	<%=render 'profile.education'%>
	</div>

	<div class="space-6"></div>
	<div class="widget-box transparent">
	<%=render 'profile.family'%>
	</div>

	<div class="space-6"></div>
	<div class="widget-box transparent">
	<%=render 'profile.emergency'%>
	</div>
	<div class="space-6"></div>
	<div class="widget-box transparent">
	<%=render 'profile.attachment'%>
	</div>
</div>