<div class="page-header">
	<h1>
		角色组管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			<%=@rolegroup.name%> 的用户
		</small>
	</h1>
</div>

<div class="alert alert-info">
	<button data-dismiss="alert" class="close" type="button">
		<i class="ace-icon fa fa-times"></i>
	</button>
	<strong><%=@rolegroup.name%></strong>
	<%=@rolegroup.info%>
	<br>
</div>



<div class="row">
<%tmpgroup = nil%>
<%@users.each do |f|%>
<% if tmpgroup != f.group_id %>
<% if tmpgroup %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<% end %>
<div class="col-xs-12 col-sm-6">
	<div class="widget-box">
		<!-- #section:custom/widget-box.options -->
		<div class="widget-header">
			<h5 class="widget-title bigger lighter">
				<i class="ace-icon fa fa-table"></i>
				<%=f.group.name%>
			</h5>

		</div>

		<!-- /section:custom/widget-box.options -->
		<div class="widget-body">
			<div class="widget-main no-padding">
				<table class="table table-striped table-bordered table-hover">
					<thead class="thin-border-bottom">
					<tr>
							<th>
								<i class="ace-icon fa fa-user"></i>
								用户姓名
							</th>

							<th class="hidden-480">
								能否登陆
							</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody>
<%
tmpgroup = f.group_id
 else %>
<% end %>
<tr>
<td><%=f.username%></td>
<td class="hidden-480"><%=_locked? f.enabled,account_url(f.id),'delete'%></td>
<td>
<%=_group_user(@rolegroup_users,f.id,@rolegroup.id)%>
</td>
</tr>				
<% end %>
</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</div>