<div class="row">
	<div class="col-xs-12 col-sm-3 center">
		<span class="profile-picture">
			<img src="<%=@logged_in_user.photos.url(:b)%>" id="avatar2" alt="<%=@logged_in_user.username%>" class="img-responsive">
		</span>
		<div class="space space-4"></div>
		<a class="btn btn-sm btn-block btn-primary" href="#">
			<i class="ace-icon fa fa-picture-o bigger-110"></i>
			<span class="bigger-110">修改我的社区头像</span>
		</a>
	</div><!-- /.col -->

	<div class="col-xs-12 col-sm-9">


		<div class="profile-user-info">
			<div class="profile-info-row">
				<div class="profile-info-name"> 姓名 </div>

				<div class="profile-info-value">
					<span><%=@logged_in_user.username%></span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name"> 住址 </div>

				<div class="profile-info-value">
					<i class="fa fa-map-marker light-orange bigger-110"></i>
					<span><%=@logged_in_user.info.address%></span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> 入职时间 </div>
				<div class="profile-info-value">
					<span><%=@logged_in_user.info.entry_at%></span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> 转正时间 </div>
				<div class="profile-info-value">
					<span><%=@logged_in_user.info.positive_at%></span>
				</div>
			</div>
		</div>
		<div class="hr hr-8 dotted"></div>		
	</div><!-- /.col -->
</div><!-- /.row -->