<div class="widget-box">
	<div class="widget-header">
		<h5 class="widget-title">基础信息</h5>
	</div>

	<div class="widget-body">
		<div class="widget-main">
<%=form_for @contact,:url=>staffs_ajax_contact_url(:id=>@user.id),:method=>'post',:remote=>'true' do |f|%>

<div>
<label>
关系：
</label>
<%=f.text_field :relationship,:class=>'input-larger'%>
</div>
<div class="space space-8"></div>
<div>
<label>
姓名：
</label>
<%=f.text_field :name,:class=>'input-small'%>
</div>
<div class="space space-8"></div>
<div>
<label>
电话：
</label>
<%=f.text_field :phone,:class=>'input-larger'%>
</div>
<div class="space space-8"></div>
<div>
<label>
住址：
</label>
<%=f.text_field :address,:class=>'input-larger'%>
</div>
<div class="clearfix form-actions">
	<div class="">
		<button type="submit" class="btn btn-info btn-block">
			<i class="ace-icon fa fa-check bigger-110"></i>
			<%=t("submit")%>
		</button>

	</div>
</div>

<% end %>



		</div>
	</div>
</div>


<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
$('.date-picker').datepicker({
	autoclose: true,
	todayHighlight: true
})
//show datepicker when clicking on the icon
.next().on(ace.click_event, function(){
	$(this).prev().focus();
});
</script>