<div class="page-header">
	<h1>
		<%=t("sidebar.menu.project")%>
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			利润表管理
		</small>
	</h1>
</div>
<p>点击项目名称查看当前利润表</p>
<hr />
<table class="table table-striped table-bordered table-hover" id="sample-table-1">
<thead><tr><th>送货日期</th><th>工地项目名称</th>
<th>销售重量</th>
<th>进货重量</th>
<th>销售金额</th>
<th>毛利润(预估)</th>
<th>毛利润率(预估)</th>
<th class="hidden-480">送货人</th><th>状态</th><th>操作</th></tr></thead>
	<tbody>
<% @incomes.each do |f|%>
<tr class="<%=profit_notice(f.profit,f.item)%>">
	<td><%=f.time.to_s(:friendly)%></td>
	<td><a href="<%=project_income_url(f.id,:from=>request.url)%>"><%=f.item.name if f.item%></a></td>
	<td><%=_round f.profit.weight%></td>
	<td><%=_round f.profit.iweight%></td>
	<td><%=yuan _round f.profit.price%></td>
	<td><%=yuan _round f.profit.profits%></td>
	<td><%=profit_count(f.profit.profits,f.profit.iweight)%></td>
	<td class="hidden-480"><%=_delvery_user(f.users)%></td>

	<td>
		<%=_income_status(f)%>
	</td>

	<td>
		<div class="btn-group">
<% if f.checked == 1 %>
<a class="btn btn-xs btn-warning" data-method="put" data-confirm="取消审核？" rel="nofollow" data-remote="true" href="<%=check_project_audit_index_url(:income=>f.id)%>">
<i class="ace-icon fa fa-undo bigger-120"></i>
</a>
<% else %>
<a class="btn btn-xs btn-success" data-method="put" data-confirm="审核通过？" rel="nofollow" data-remote="true" href="<%=check_project_audit_index_url(:income=>f.id)%>">
<i class="ace-icon fa fa-check-square-o bigger-120"></i>
</a>
<% end %>

			<a class="btn btn-xs btn-danger" href="<%=project_income_url(f)%>" data-method="delete" data-remote='true' data-confirm="确认删除？" rel="nofollow">
				<i class="ace-icon fa fa-trash-o bigger-120"></i>
			</a>

		</div>

		
	</td>
</tr>
<% end %>
	</tbody>
</table>

<%= paginate @incomes %>