<li class="purple">
	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		<i class="ace-icon fa fa-bell icon-animated-bell"></i>
		<span class="badge badge-important"><%=@notification_count%></span>
	</a>

	<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
		<li class="dropdown-header">
			<i class="ace-icon fa fa-exclamation-triangle"></i>
			<%=@notification_count%> 个通知单
		</li>
<% @notifications.each do |f| %>
		<li>
			<a href="<%=notifications_url(:id=>f.id)%>" data-method="put" rel="nofollow">
				<div class="clearfix">
					<span class="pull-left">
						<%=f.info%>
					</span>
					<span class="pull-right badge badge-info"><i class="fa fa-paper-plane"></i></span>
				</div>
			</a>
		</li>
<% end %>
		
		<li class="dropdown-footer">
			<a href="<%=notifications_url%>">
				查看所有通知单
				<i class="ace-icon fa fa-arrow-right"></i>
			</a>
		</li>
	</ul>
</li>