<li class="light-blue">
	<a data-toggle="dropdown" href="#" class="dropdown-toggle">
		<img class="nav-user-photo" src="<%=@logged_in_user.photos.url(:s)%>" alt="<%=@logged_in_user.username%>" />
		<span class="user-info">
			<small>欢迎回来,</small>
			<%=@logged_in_user.username%>
		</span>

		<i class="ace-icon fa fa-caret-down"></i>
	</a>

	<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
		<li>
			<a href="<%=settings_url%>">
				<i class="ace-icon fa fa-cog"></i>
				设置
			</a>
		</li>

		<li>
			<a href="profile.html">
				<i class="ace-icon fa fa-user"></i>
				个人档案
			</a>
		</li>

		<li class="divider"></li>
		<li>
			<a href="<%=accounts_url%>">
				<i class="ace-icon fa fa-users"></i>
				用户管理
			</a>
		</li>
		<li>
			<a href="<%=rolegroups_url%>">
				<i class="ace-icon fa fa-cogs"></i>
				角色组
			</a>
		</li>
		<li><a href="<%=roles_url%>"><i class="ace-icon fa fa-eye"></i> 角色管理</a></li>


		<li class="divider"></li>

		<li>
			<a href="/session/logout">
				<i class="ace-icon fa fa-power-off"></i>
				退出登陆
			</a>
		</li>
	</ul>
</li>
