<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
		<button class="btn btn-success">
			<i class="ace-icon fa fa-signal"></i>
		</button>

		<button class="btn btn-info">
			<i class="ace-icon fa fa-pencil"></i>
		</button>

		<!-- #section:basics/sidebar.layout.shortcuts -->
		<button class="btn btn-warning">
			<i class="ace-icon fa fa-users"></i>
		</button>

		<button class="btn btn-danger">
			<i class="ace-icon fa fa-cogs"></i>
		</button>

		<!-- /section:basics/sidebar.layout.shortcuts -->
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span>

		<span class="btn btn-info"></span>

		<span class="btn btn-warning"></span>

		<span class="btn btn-danger"></span>
	</div>
</div><!-- /.sidebar-shortcuts -->

<ul class="nav nav-list">
	<li class="<%=_sidebar_active("menu.system")%>">
		<%=_sidebar_menu('menu.system','fa-file-text-o',articles_url)%>
	</li>

	<li class="<%=_sidebar_active("menu.staff","open")%>">
		<%=_sidebar_menu('menu.staff','fa-users','')%>
		<ul class="submenu">
			<%=_sidebar_submenu('staff.injob',staffs_bases_url)%>
			<%=_sidebar_submenu('staff.audit','')%>
			<%=_sidebar_submenu('staff.outwork','')%>
		</ul>
	</li>

	<li class="<%=_sidebar_active("menu.project","open")%>">
		<%=_sidebar_menu('menu.project','fa-institution')%>
		<ul class="submenu">
			<%=_sidebar_submenu('project.my',project_incomes_url)%>
			<%=_sidebar_submenu('project.finance',project_finance_index_url)%>
			<%=_sidebar_submenu('project.audit',project_audit_index_url)%>
			<%=_sidebar_submenu('project.search',project_search_index_url)%>
			<%=_sidebar_submenu('project.info','')%>
		</ul>
	</li>

	<li class="<%=_sidebar_active("menu.payslip")%>">
		<%=_sidebar_menu('menu.payslip','fa-cny','#url')%>
	</li>

	<li class="<%=_sidebar_active("menu.sms")%>">
		<%=_sidebar_menu("menu.sms",'fa-paper-plane-o',sms_url)%>
	</li>

	<li class="<%=_sidebar_active("menu.notice")%>">
		<%=_sidebar_menu("menu.notice",'fa-circle-o-notch',notices_url)%>
	</li>

	<li class="<%=_sidebar_active("menu.item")%>">
		<%=_sidebar_menu("menu.item",'fa-cab',base_items_url)%>
	</li>
	
</ul><!-- /.nav-list -->

<!-- #section:basics/sidebar.layout.minimize -->
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<!-- /section:basics/sidebar.layout.minimize -->
<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>